<div class="uk-container">
        <div class="uk-grid uk-margin-small-top">
    
            <table class="uk-table uk-table-striped uk-table-hover uk-table-divider" *ngIf="musics" >
                    <caption>Lista de Musicas</caption>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Genero</th>
                            <th>Autores</th>
                            <th>
                                          <button class="uk-button uk-button-default uk-button-primary uk-margin-small-bottom" 
                                          routerLink="/musicauthor"><i class="fas fa-plus-square"></i> Add</button>
                            </th>
                           
                        </tr>
                    </thead>                   
                    <tbody>
                            <tr *ngFor="let music of musics">
                       
                                    <td>{{music.name}}</td>
                                    <td>{{music.genre}}</td>
                                    <td>
                                        <button class="uk-button uk-button-small uk-button-primary uk-margin-small-bottom" 
                                        routerLink="/musicauthor/{{music.id}}"><i class="fas fa-users"></i></button>
                                    </td>
                                    <td>
                                        <button class="uk-button uk-button-small uk-button-primary uk-margin-small-bottom"
                                         routerLink="/updatemusic/{{music.id}}"><i class="far fa-edit"></i></button>
                                         <button class="uk-button uk-button-small uk-button-primary uk-margin-small-bottom"
                                         routerLink="/deletemusic/{{music.id}}"><i class="fas fa-trash-alt"></i></button>
                                         
                                    </td>    
                                    <td>
                                            
                                    </td>
                            </tr>
                    </tbody>          
            </table>
          
                <div *ngIf="!musics">
                        <div uk-alert><h3>{{msg}}</h3></div>
                </div>
    </div>

</div>
