<div class="uk-container">
        <div class="uk-grid uk-margin-small-top">
    
            <table class="uk-table uk-table-striped uk-table-hover uk-table-divider" *ngIf="musics" >
                    <caption></caption>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Genero</th>
                            <th>Autores</th>
                            <th>Editar</th>
                            <th>Apagar</th>
                        </tr>
                    </thead>                   
                    <tbody>
                            <tr *ngFor="let music of musics">
                       
                                    <td>{{music.name}}</td>
                                    <td>{{music.genre}}</td>
                                    <td>
                                        <button routerLink="/musicauthor/{{music.id}}"><i class="fas fa-users"></i></button>
                                    </td>
                                    <td>
                                        <button routerLink="/updatemusic/{{music.id}}"><i class="far fa-edit"></i></button>
                                    </td>    
                                    <td><button routerLink="/deletemusic/{{music.id}}"><i class="far fa-trash-alt"></i></button>
                                    </td>
                            </tr>
                    </tbody>
          
            </table>
          
                <div *ngIf="!musics">
                        <div uk-alert><h3>{{msg}}</h3></div>
                </div>
    </div>

</div>
